body {
  background-color: #2E294E; }

.authForm {
  margin: 150px auto;
  color: black;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  min-width: 250px; }
  .authForm h2 {
    background-color: #1B998B;
    margin: 0;
    padding: 30px 0;
    color: white;
    text-align: center; }
  .authForm form {
    margin: 0;
    padding: 25px; }
  .authForm .form-control {
    margin: 10px 0; }
  @media (min-width: 768px) {
    .authForm {
      width: 500px; }
      .authForm form {
        padding: 50px; } }
  @media (max-width: 767px) {
    .authForm {
      width: 100%; }
      .authForm form {
        padding: 10px; } }

.form-control {
  border-radius: 0; }

.btn {
  border-radius: 0;
  padding: 10px 15px;
  font-size: 1.5rem; }

.btn[type='submit'] {
  width: 100%; }

.home {
  background-color: white;
  min-height: 600px;
  min-width: 900px;
  margin: 25px auto; }
